.navBarContainer{
    width: 100%;
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
   
}
.logo{
   
    width: 10%;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
   
}
.menu{
   
    width: 70%;
    display: flex;
    align-items: center;
   justify-content: center;
   /* ///// */
  
   /* width: 70px;
   height: 22px; */
   /* left: 803px;
   top: 79px; */
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   /* identical to box height */
   color: #000000;
   

}
.list:hover{
   text-decoration: underline;
   text-decoration:underline 1px solid #92140C;
}

.menu-list{
    display: flex;

}
li{
    border-color: white;
    padding: 20px 20px;
   list-style: none;
}
.connect{
    width: 20%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.selectLang{
  display: flex; 
  align-items: center;
height: 34px;
width: 25px;
left: 1338px;
top: 79px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}




.Request{
    background-color:  #FFFFFF;
    color:black;
    height: 64px;
    width: 310px;
    left: 1407px;
    top: 58px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 40px;
    
    }
