.App{
  margin:0;
  padding:0;
  height: 100 vh;
  width:100vw;
  display: grid;
  place-items:center;
  
}
.App-container{
  width:100vw;
  background-color: #FFCF99;
  display: grid;
  place-items:center;
}
.slide-content{
  width:80vw;
 }

.navbar-cont{
  height: 40vh;
  
}
.triangleu{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionUn{
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF8F0;
 
}
.sectionUn-container{
  width: 80vw;
  height: 60vh;
}



